html{
    .heighInd{
        overflow-y: hidden;
    }
    height: auto;
body{
    background-image: url('../src/img/bkgDesktop.png');
    background-size: cover;
    background-attachment: fixed;
    
        main{   
            h1,h2{
                color: aliceblue;
                text-align: center;
                margin-top:3rem;
            }
            div{
                h3{ 
                    color: aliceblue;
                }
            }
            #formIng{
                align-content: center;
                margin-top: 7rem;
                background-color: black;
                
            }
            #boxAcertijo{
                height: 30rem;
                margin: 6rem;
                align-content: center;
                display: flex; 
                flex-direction: column;
                justify-content: space-evenly;
                justify-content: center;
                padding-bottom: 3rem;
                #adivinanza{
                    width: 100%;
                    padding-top: 3rem;
                    margin-bottom: 0rem;
                    padding-bottom: rem;
                    text-align: center;
                    
                }
                #opResp{
                    
                    button{
                    margin: 3rem;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    #continuarAceritjo{
                        align-self: center;  
                        width: 50%;
                    }
                    #continuarAceritjo2{  
                        align-self: center;
                        width: 50%;
                    }
                    #opResp{
                        margin-top: 1rem;
                        margin-bottom: 0rem;
                        align-self: center;
                        text-align: center;
                        padding-bottom: 0rem;
                    }
                    } 
                }   
                #alertaRespuesta{
                    align-self: center;
                    text-align: center;
                    margin-top: 0rem;
                    margin-bottom: 0rem;
                    padding-bottom: 3rem;
                }
            }
        #inicio{
            text-align: center; 
        }
        }
    }
}